.header {
    height: 100px;
    background-color:  #ece4dc;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
}

.header_navbar {
    display: flex;
    justify-content: space-between;
}
.header_navbar-list {
    list-style: none;
    padding-left: 0;
    display: flex;
}
.header_navbar-item {
    margin: 0 8px;
}

.header_navbar-user {
    display: flex;
    justify-items: center;
    position: relative;
}
.header_navbar-user-img {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 2px solid gray;
}
.header_navbar-user-name {
    margin-top: 0;
    font-size: 1.6rem;
    color: goldenrod;
    font-weight: 400;
    position: relative;
    top: -6px;
}
.header_navbar-user:hover .header_navbar-user-menu{
    display: block;
}
.header_navbar-user-menu {
    position: absolute;
    z-index: 1;
    padding: 8px 0;
    top: 30px;
    right: 0;
    width: 160px;
    border-radius: 2px;
    background-color: white;
    list-style: none;
    box-shadow: 0 1px 2px #e0e0e0;
    display: none;
    animation: fadeIn ease-in 0.5s;
}
.header_navbar-user-item a:hover {
    background-color: #fafafa;
}
.header_navbar-user-item a {
    text-decoration: none;
    color: blue;
    padding: 5px 16px;
    display: block;

}
.header_navbar--has-qr:hover .header_qr {
    display: block;
}
.header_navbar-item,
.header_navbar-item-link {
    display: inline-block;
    font-size: 1.5rem;
    color: green;
    text-decoration: none;
    font-weight: 300;
}
.header_navbar-item:hover,
.header_navbar-icon-link:hover,
.header_navbar-item-link :hover{
    cursor: pointer;
    color: rgba(155, 155, 255, 0.7);
}
.header_navbar-item--strong {
    font-weight: 400;
}
.header_navbar-icon-link,
.header_navbar-link {
    text-decoration: none;
    color: black;
}


.header_navbar-icon {
    font-size: 1.8rem;
}
.header_navbar-title--no-pointer {
    cursor: text;
    color: black;
}
.header_qr {
    width: 300px;
    height: 75px;
    top: 40px;
    background-color: blanchedalmond;
    position: absolute;
    padding: 10px 5px ;
    padding-bottom: 3px;
    display: none;
    animation: fadeIn ease-in 0.5s;
    z-index: 2;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.header_qr::before {
    content: "";
    width: 100%;
    height: 20px;
    left: 0;
    top: -13px;
    display: block;
    position: absolute;
    background-color: blanchedalmond;
}
.header_qr-img {
    width: 100%;
    height: 100%;
}
.text_info {
    color: black;
}
.text_info_link>a {
    text-decoration: none;
    color: red;
}
.text_info_link>a:hover {
    color: blue;
}
.text_deco {
    list-style: none;
}

.header_img {
    width: 200px;
    height: 100px;
    position: relative;
    left: 28px;
}
 .header_notify {
     display: none;
 }

 /* authen modal */
 .logo_auth {
     height: 50px;
 }
 .auth-form_contanier {
     padding: 0 32px;
 }

.auth-form_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.auth-form_heading {
    font-size: 2.2rem;
    font-weight: 400;
}

.auth-form_switch-bth {
    font-size: 2.2rem;
    font-weight: 400;
    color:peachpuff;
    cursor: pointer;
}

.auth-form_switch-bth:hover {
    color: chartreuse;
}

.auth-from_input {
    width: 100%;
    height: 50px;
    margin-top: 20px;
    padding: 0 12px;
    font-size: 1.4rem;
    border-radius: 2px;
    border: 1px solid  plum;
}

.auth-from_input:focus {
    border-color: #8888;
}

.auth-form_controls {
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
    border-radius: 5px;
}
.btn {
    font-size: 2.5rem;
    color:slategray;
    display: inline-flex;
}
.btn:hover {
    color: violet;
}
.btn{
    cursor: pointer;
}
.auth-from_socials {
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:rosybrown;
    width: 100%;
    height: 40px;
}
.btn1 {
    text-decoration: none;
    padding: 0 15px;
    color: white;
    font-size: 1.5rem;
}
.auth-from_socials-icon {
    font-size: 2rem;
}

.auth-from_socials--fb,
.auth-from_socials--gg {
    color: white;
    border-radius: 3px;
    padding: 5px 15px;
}
.auth-from_socials--fb {
    background-color:  #3A5A98;
}
.auth-from_socials--gg {
    background-color: brown;
}
.auth-from_socials--fb:hover {
    color: rgba(155, 155, 255, 0.7);
}
.auth-from_socials--gg:hover {
    color: rgba(255, 255, 255, 0.7);
}

.auth-form_help {
    display: flex;
    justify-content: flex-end;
}
.auth-form_help--link {
    text-decoration: none;
    font-size: 1.6rem;
    padding-top: 10px;
    color: cornflowerblue;
}
.auth-form_help--link:hover {
    color: cyan;
}
.auth-form_help--separate {
    display: block;
    height: 17px;
    border-left: 1px solid plum;
    margin: 10px 5px;
}
.search {
    width: 100%;
    height: 80px;
    background-color: #ab9784;
    display: flex;
    justify-content: center;
    position: -webkit-sticky;
    position: sticky;
    top: 100px;
    z-index: 1;
}
.header_with-search {
    height: 60px;
    width: 80%;
    display: flex; 
    align-items: center;
    margin-top: 10px;
}

.header_icon-cart {
    height: 40px;
    width: 10%;
    text-align: center;
    color: aqua;
}
.icon-cart {
    font-size: 2.5rem;
    margin-top: 9px;
    cursor: pointer;
}
.search_input-wrap {
    flex: 1;
    height: 40px;
    position: relative;
}
.search_input {
    width: 100%;
    height: 100%;
    border: none;
    padding:0 20px;
    font-size: 1.5rem;
    color: black;
    border-radius: 2px;
    outline: none;

}
.header_input-select {
    width: 5%;
    height: 40px;
    font-size: 1.6rem;
    background-color: cadetblue;
    border-radius: 2px;
    display: flex;
    align-items: center;

}
.header_icon-search:hover {
    color: darkgoldenrod;
    cursor: pointer;
}
.header_icon-search {
    margin-left: 15px;
}
.search_input:focus ~ .search-history {
    display: block;
}
/* search history */
.search-history {
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    width: calc(100% - 16px);
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 1px 5px rgb(199, 197, 197);
    display: none;
}
.search-history_heading {
    margin: 8px 12px;
    font-size: 1.5rem;
    color: #999;
    font-weight: 400;
}
.search-history_list {
    list-style: none;
    padding-left: 0;
    margin:6px 0 0;
}
.search-history_list--item {
    height: 38px;
    padding: 0 12px;
}
.search-history_list--item:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
.search-history_list--item:hover {
    background-color: #fafafa;
}
.search-history_list--item a {
    text-decoration: none;
    font-size: 1.4rem;
    color: black;
    line-height: 38px;
    display: block;
}
/* cart layout */
.header_icon-cart {
    position: relative;
}
.header_cart-list {
    position: absolute;
    top: calc(100% + 11px);
    right: -7px;
    width: 410px;
    background-color: white;
    border-radius: 2px;
    box-shadow: 0 2px 10px rgb(0, 0, 0, 0.2);
    display: none;
    animation: fadeIn ease-in 0.2s;
    cursor: default;
    z-index: 1;
}

.header_cart-list--no-cart .no_cart-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.no_cart-img {
    width: 40%;
    height: 150px;
    display: none;
}
.header_cart-notice {
    position: absolute;
    top: 0;
    right: -4px;
    padding: 2px 4px;
    background-color: gray;
    font-size: 1.5rem;
    color: yellow;
    line-height: 1.3rem;
    border-radius: 10px;
    border: 2px solid rgb(112, 77, 77);
}
.header_cart-wrap {
    position: relative;
    display: inline-block;
    padding: 0px 8px;
    cursor: pointer;
}
.header_cart-list--no-cart {
    padding: 28px 0;
}
.header_cart-list::after {
    content: "";
    position: absolute;
    right: 1px;
    top: -30px;
    border-width: 20px 26px;
    border-style: solid;
    border-color: transparent transparent  white transparent;
    cursor: pointer;
}
.header_cart-wrap:hover .header_cart-list {
    display: block;
}
.header_cart-wrap:hover .icon-cart {
    color: turquoise;
}
/* cart item */
.header_cart-heading {
    text-align: left;
    margin: 8px 0 8px 16px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}
 .header_cart-list-item {
    padding-left: 0;
    list-style: none;
    height: 50vh;
    overflow-y: auto;
} 


/* .header_cart-item {
    display: flex;
    align-items: center;
}
.header_cart-item:hover {
    background-color: #f8f8f8;
} */
.header_cart-img {
    width: 42px;
    height: 42px;
    margin: 12px;
}
/* .header_cart-item-info {
    width: 100%;
    margin-right: 12px;
    display: flex;
} */
/* .header_cart-item-head {
    display: flex;
    align-items: center;
}
.header_cart-item-name {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 2rem;
    max-height: 4rem;
    overflow: hidden;
    color: black;
    flex: 1;
    padding-right: 10px;
    margin: 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-align: left;
} */
/* .header_cart-item-price-wrap {
    margin-right: 20px;
}
.header_cart-item-price {
    font-size: 1.4rem;
    font-weight: 500;
    color: gold;
}
.header_cart-item-multiply {
    font-size: 1rem;
    font-weight: 500;
    margin: 0 4px;
    color: black;
}
.header_cart-item-amount {
    font-size: 1.4rem;
    font-weight: 500;
    color: black;
}
.header_cart-item-body {
    display: flex;
    justify-content: space-between;
    margin-top: 3px;
}
.header_cart-item-description {
    color: #757575;
    font-size: 1.1rem;
    font-weight: 300;
}
.header_cart-remove {
    margin-left: auto;
    margin-top: 26px;
}
.header_cart-item-remove {
    font-size: 1.2rem;
    color: firebrick;
    cursor: pointer;
    margin-left: auto;
}
.header_cart-item-remove:hover {
    color: red;
} */
.header_cart-view-cart {
    margin-bottom: 7px;
}
.header_cart-view-name {
    text-decoration: none;
    color: yellowgreen;
}
.header_cart-view-name:hover {
    color: lightskyblue;
}

.cart-total-title {
    font-size: 1.5rem;
    color: cadetblue;
}
.cart-total-price {
    font-size: 1.5rem;
    color: crimson;
}
/* container */
.app_container {
    background-color: #f5f5f5;
}
.app_content {
    padding-top: 24px;

}
.category {
    background-color: white;
    border-radius: 2px;
}

.category_heading {
    font-size: 1.7rem;
    color: black;
    padding: 12px 16px;
    margin-top: 0;
    border-bottom: 1px solid rgb(0, 0, 0, 0.05);
}

.category_heading-icon {
    font-size: 1.4rem;
    margin-right: 4px;
    position: relative;
    top: -2px;
}

.category-list {
    padding: 0 0 8px 0;
    list-style: none;
    margin-left: 15px;
}

.category-item {
    position: relative;
}

.category-item:first-child::before {
    display: none;
}

.category-item::before {
    content: "";
    border-top: 1px solid #e1e1e1;
    position: absolute;
    top: 0;
    left: 16px;
    right: 16px;
}

.category-item--active .category-item_link::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 5px;
    border: 4px solid;
    transform: translateY(calc(-50% - 1px));
    border-color: transparent transparent transparent royalblue;
}

.category-item_link {
    position: relative;
    text-decoration: none;
    color: springgreen;
    font-size: 1.7rem;
    display: block;
    padding: 4px 16px;
    transition: right linear 0.1s;
    right: 0;
}

.category-item_link:hover {
    color: goldenrod;
    right: -10px;
}

/* Home */

.Home-filter_btnHot {
    background-color: yellow;
    color: tomato;
    margin-left: 10px;
    display: block;
    text-align: center;
}
.Home-filter_btn {
    border: none;
    font-size: 2.3rem;
    margin-right: 10px;
    min-width: 100px;
    background-color: white;
    color: black;
    border: 2px solid gray;
    border-radius: 25px;
}
.Home-filter_btn:focus {
    display: none;
}
.Home-filter_btnHot:hover {
    color: yellow;
}
/* Home + filter */

.Home-filter {
    background-color: rgba(255, 255, 255, 0.7)  ;
    display: flex;
    align-items: center;
    padding: 12px 12px;
    border-radius: 2px; 
}
.Home-filter_label {
    display: block;
    text-align: center;
}
.Home-filter_btn:hover {
    background-color: green;
    border-radius: 25px;
    animation: fadeIn ease 0.4s;
}
.home-filter_page {
    display: flex;
    align-items: center;
    margin-left: auto;
   
}
.home-filter_page-num {
    font-size: 1.6rem;
    color: salmon;
    margin-right: 22px;
}
.home-filter_page-current {
    color: black;
}
.home-filter_page-control {
    border-radius: 2px;
    overflow: hidden;
    display: flex;
    width: 72px;
    height: 72px;
    padding-top: 15px;
}
.home-filter_page-btn {
    width: 36px;
    height: 36px;
    background-color: grey;
    color: white;
    flex: 1;
    display: flex;
    text-decoration: none;

}
.home-filter_page-btn:first-child {
    border-right: 2px solid white;
}
.home-filter_page-icon {
    margin: auto;
    font-size: 1.4rem;
}
.home-filter_page-btn--disabled {
    background-color: gainsboro;
    cursor: default;
}
/* product item */
.home_product-item {
    background-color: white;
    margin-top: 10px;
    position: relative;
}
.home_product-item:hover {
    border: 2px solid black;
    border-radius: 5px;
    animation: fadeIn ease 0.3s;
    cursor: pointer;
}

.home-product_pagination {
    margin-top: 50px;
    margin-bottom: 30px;
}

.home_product-item:hover .home-product-item_action {
    display: flex;
}
.home_product-item:hover .btn-cart{
    display: flex;
    justify-content: right;
}
.home-product-item_img {
    padding-top: 100%;
    background-size: contain;
    background-position: center;
    margin-top: 10px;
    background-repeat: no-repeat;
}
.home-product-item_img {
    width: 100%;
    max-height: 500px;
}
.img_pr {
    width: 100%;
    height: 200px;
}
.home-product-item_name {
    font-size: 1.4rem;
    font-weight: 400;
    color: teal;
    line-height: 1.8rem;
    height: 3.6rem;
    margin: 10px;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
}

.home-product-item_price {
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
}

.home-product-item_price-old {
    font-size: 1.5rem;
    margin-left: 10px;
    color: #666;
    text-decoration: line-through;
}

.home-product-item_price-current {
    font-size: 1.6rem;
    color: yellowgreen;
    margin-left: 4px;

}   

.home-product-item_action {
    justify-content: space-between;
    margin: 10px 10px;
    display: none;
    cursor: pointer;
}

.home-product-item_like {
    font-size: 1.4rem;
}
i.home-product-item_like-fill {
    color: violet;
    display: none;
}
.home-product-item_like--liked .home-product-item_like-fill {
    display: inline-block;
}
.home-product-item_like--liked .home-product-item_like-empty {
    display: none;
}
.home-product-item_rating {
    font-size: 1rem;
    /* margin-left: auto; */
    margin: 4px 0 0 auto;
}
.home-product-item__star--gold {
    color: yellow;
}
.home-product-item__sold {
    font-size: 1.5rem;
}

.home-product-item_origin {
    display: flex;
    margin: 5px 10px;
    font-size: 1.2rem;
    font-weight: 300;
    justify-content: space-between;
}

.home-product-item_brand {
   font-size: 1.4rem;
   color: silver;
}
.btn-cart {
    height: 20px;
    width: 60%;
    font-size: 1.5rem;
    margin-left: auto;
    display: none;
}
.home-product-item_origin-name {
   color: springgreen;
   font-size: 1.4rem;
}

.home-product-item_sale-off {
    position: absolute;
    top: 10px;
    left: 0;
    width: 10%px;
    height: 36px;
    background-color: #cf5050;
    display: flex;
    align-items: center;
    padding: 0 5px;
}
/* advertise */
.advertise {
    height: 400px;
    width: 100%;
}
.advertise_img {
    padding: 20px 0;
    height: 400px;
    width: 100%;
}

/* footer */
.footer_background_img {
    display: flex;
     justify-content: flex-end;
     align-items: center;
     min-height: 30vh;
     flex-direction: column;
     background: url(https://s2.r29static.com/bin/entry/b22/0,938,2001,1126/x/1794476/image.png);
}
footer{
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    background: #111;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
footer .container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}
footer .container .noi-dung{
    margin-right: 30px;
}
footer  .container .noi-dung.about{
    width:40%;
}
footer .container .noi-dung.about h2{
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
}
footer .container .noi-dung.about h2:before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #f00;
}
footer .container .noi-dung.about p{
    color: #999;
}
/*Thiết Lập Cho Thành Phần Icon Mạng Xã Hội*/
.social-icon{
    margin-top: 20px;
    display: flex;
}
.social-icon li {
    list-style: none;
}
.social-icon li a{
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 4px;
}
.social-icon li a:hover{
    background: #f00;
}
.social-icon li a .fa{
    color: #fff;
    font-size: 20px;
}
.links h2{
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
}
.links h2{
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
}
.links h2::before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #f00;
}
.links{
   position: relative;
   width: 25%;
}
.links ul li{
    list-style: none;
}
.links ul li a{
    color: #999;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
}
.links ul li a:hover{
    color: #fff;
}
.contact h2{
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
}
.contact h2::before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #f00;
}
.contact{
    width: calc(35% - 60px);
    margin-right: 0 !important;
}
.contact .info{
    position: relative;
}
.contact .info li{
    display: flex;
    margin-bottom: 16px;
}
.contact .info li span:nth-child(1) {
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
}
.contact .info li span{
    color: #999;
}
.contact .info li a{
    color: #999;
    text-decoration: none;
}
.btn_footer {
    display: inline-block;
    background: transparent;
    color: inherit;
    font: inherit;
    border: 0;
    outline: 0;
    padding: 0;
    margin-top:16px;
    transition: all 200ms ease-in;
    cursor: pointer;
}
.btn--primary1 {
    background: #222;
    color: #fff;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, .1);
    border-radius: 2px;
    padding: 8px 24px;
}
.btn--primary1:hover {
    background: #f00;
}
.btn--primary1:active {
    background: #f00;
    box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, .2);
}
.form__field {
    width: 90%;
    background: #fff;
    color: #a3a3a3;
    font: inherit;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .1);
    border: 0;
    outline: 0;
    padding: 8px 4px;
}
@media  (max-width: 768px){
    footer{
        padding: 40px;
             }
    footer .container{
        flex-direction: column;
    }
    footer .container .noi-dung{
        margin-right: 0;
        margin-bottom: 40px;
    }
    footer .container, .noi-dung.about, .links, .contact{
        width: 100%;
    }
}
